.list_container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 10px;
}

.list_items_ul {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.list_item {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0px;
    font-size: 16px;
    border-bottom: 1px solid #dddcdc;
}

.list_item span{
    cursor: pointer;
}

.list_item:last-child{
    border-bottom: none;
}

.list_title{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 15px;
}
.list_actions{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 15px;
}